.world {
  display: block;
  background: black;
  border-radius: 50% 50% 0 0;
  height: 6em;
  width: 100%;
  margin: 0;
  /* background: radial-gradient(circle at 50% 100%, #191970, #000); */
  box-shadow: 0 15px 15px 13px silver;
}
.spotify {
  position: fixed;
  bottom: 8em;
  opacity: 0.1;
}
