.row{
    margin-left: 11em;
}
.timestamp {
    position: relative;
    margin: auto;
    margin-top: 3em;
    height: 15em;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    background: #1B1B1B;
    border-radius: 50%;
    box-shadow: 0 0px 15px 13px #1B1B1B;
    font-family: monospace;
    opacity: .8;
}
.timestamp > h2 {
    font-size: 16px;
}
.time{
    position: relative;
    text-align: center;
    height: 5em;
    width: 6em;
    border-radius: 25%;
    background: silver;
    color: black;
    font-size: 19px;
    padding-top: 30px;
}
.time-space{
    font-size: 4em;
}