<div class="timestamp">
    <div class="row">
        <div class="time">
            {{days}}
            <p>Days</p>
        </div>
        <div class="time-space">
            :
        </div>
        <div class="time">
            {{hours}}
            <p>Hours</p>
        </div>
        <div class="time-space">
            :
        </div>
        <div class="time">
            {{minutes}}
            <p>Minutes</p>
        </div>
        <div class="time-space">
            :
        </div>
        <div class="time">
            {{seconds}}
            <p>Seconds</p>
        </div>
    </div>

</div>